
body {
    margin: 0px;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
.header,
.header-links {
  display: flex;
  align-items: center;
}
.header-links a {
  padding: 10px;
}
.header-links {
  margin-left: auto;
}

input {
    font-size: 16px;
    padding: 7px 0;
  }
  
  input[type=text] {
    margin: 0 0 0 15px;
    border-radius: 95px;
    width: 600px;
    border-color: black;
    padding-left: 40px;
  }

  input[name="as_eq"]{
    border-radius: 0px;
  }
  input[name="as_oq"]{
    border-radius: 0px;
  }  
  input[name="as_epq"]{
    border-radius: 0px;
  }  
  input[name="as_q"]{
    border-radius: 0px;
  }


  input[type=submit] {
    position: relative;
    font-size: 14px;
    width: 200px;
    padding: 10px;
    border-width: 0px;
    border-radius: 15px;
    margin: 25px;
    justify-content: center;  
    left:65px;
    
}
  
  input[type=submit]:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  }
  
 
.search-field {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  align-items: center;
  margin: 10px;
  padding-left: 15px;
  height: 70px;
}


.search-field button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  
}

.search-field button img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 50px;
  top:2px;
  object-fit: cover;

}



.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

.search-bar{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    top: 154px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
  }

  .header, .header-links, .header-advanced-logo, .header-advanced {
    display: flex;
    align-items: center;
  }
  .header a, .header-links a, .header-advanced-logo a, .header-advanced a {
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  .header-advanced {
    height: 50px;
  }

  .header-advanced-logo img {
    height: 30px;
  }

  .appbar{
    font-size: 20px;
    height: 50px;
    padding-top: 25px;
    padding-left: 25px;
    color: red;
  }

  .form-group{
    padding: 15px;
  }


  .clarification{
    float: right;
  }

  .whitespace{
    display: table-cell;
    vertical-align: middle;
  }

.header-advanced {
  background-color: #f1f1f1;
  height: 50px;
}
  

  .advanced-search-container .form-group .clarification {
    font-size: 11px;
    width: 30%;
    margin-left: 15%;
  }
  .advanced-search-container .form-group .clarification .monospace {
    font-family: monospace;
  }






  .advanced-search-container .whitespace {
    display: inline-block;
    width: 50%;
  }
  










  .advanced-search-container {
    margin: 50px 40px;
  }
  .advanced-search-container label {
    display: inline-block;
    width: 16%;
    font-size: 20px;
  }
  .advanced-search-container .whitespace {
    display: inline-block;
    width: 50%;
  }
  .advanced-search-container .form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
  }



  input[class="blue-button"] {
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    max-width: 200px;
    border-radius: 0px;
    border: 1px solid #156bbd;
    float: right;
    padding: 10px 2px;
    margin: 0;
  }
  



  
  
 
  
  
  

 


  
 
  













  
  
  
  
  
  
  
  
  
  
  

  





  